@import routes.HomeController.getArray

@()

@main("Welcome to Play") {
    <div class="row">
        <div class="cell">
            <ul id="hello" class="list-group">
                <li class="list-group-item">
                    <a class="link" href="@getArray">
                        Go to array
                    </a>
                </li>
                <li class="list-group-item">
                    <a class="link" href="@routes.PersonController.list()">
                        Person's list
                    </a>
                </li>
                <li class="list-group-item">
                    <a class="link" href="@routes.DepartmentController.list">
                        Departments's list
                    </a>
                </li>


            </ul>
            <button id="click-me-button" type="button" class="btn btn-default">
                Click me!
            </button>
        </div>
    </div>
}
