@import models.entities.Person
@import models.entities.Department
@import com.fasterxml.jackson.databind.JsonNode
@import b3.vertical.fieldConstructor
@(personForm: play.data.Form[Person], departments: List[Department], errors: JsonNode)
@departs = @{
    departments.map(department => (department.getId.toString, department.getName)).toSeq
}
@main("Person as JSON") {
    <ul id="hello2" class="list-group">
        <li class="list-group-item">
            <a class="link" href="@routes.PersonAsJsonController.edit(1401)">
                1401
            </a>
        </li>
        <li class="list-group-item">
            <a class="link" href="@routes.PersonAsJsonController.edit(1402)">
                1402
            </a>
        </li>
        <li class="list-group-item">
            <a class="link" href="@routes.PersonAsJsonController.edit(3201)">
                3201
            </a>
        </li>
    </ul>
    <div class="row" id="personJson">
    @b3.form(routes.PersonAsJsonController.doEdit(personForm.get.getId.toInt), 'id -> "workWithJson", 'novalidate -> "novalidate") {
        @b3.text(personForm("id"), '_label -> "Id", 'placeholder -> "id", 'disabled -> true)
        @b3.text(personForm("firstName"), '_label -> "First name", 'placeholder -> "First name")
        @b3.text(personForm("surname"), '_label -> "surname", 'placeholder -> "Surname")
        @b3.email(personForm("email"), '_label -> "email", 'placeholder -> "example@mail.com")
        @b3.email(personForm("registrationDate"), '_label -> "registrationDate", 'disabled -> true)
        @b3.select(
            personForm("departments"),
            options = departs,
            '_label -> "Departments",
            'multiple -> true,
            'id -> "departments"
        )
        @b3.submit('class -> "btn btn-default") { submit }
    }

    </div>


}
