@import models.entities.Department
@import models.entities.Person
@(department: Department, departmentForm: play.data.Form[Department], persons: List[Person])


@implicitFieldConstructor = @{
    b3.horizontal.fieldConstructor("col-md-1", "col-md-11")
}


@main("Department form") {

    @b3.form(action = routes.DepartmentController.doEdit(department.getId), 'novalidate -> "novalidate") {

        @if(flash.containsKey("error")) {
            <div class="text-danger">
            @b3.static("label") {
                @flash.get("error")
            }
            </div>
        }

        @b3.text(departmentForm("name"), '_label -> "Name", 'placeholder -> "Name",
            '_help -> "A firstname between 1 and 10 characters")

        @b3.submit('class -> "btn btn-default") { Submit }
    }

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Surname</th>
                <th>email</th>
                <th>Action: delete</th>
            </tr>
        </thead>
        <tbody>
        @for(person <- persons) {
            <tr>
                <th> @person.getId</th>
                <th> @person.getFirstName</th>
                <th> @person.getSurname</th>
                <th> @person.getEmail</th>
                <th>
                    <button type="button" class="btn btn-danger btn-md" data-toggle="modal" data-target=#@person.getId>
                        Delete
                    </button>


                    <div class="modal fade" id=@person.getId tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog">

                                <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title text-info">Please confirm deletion</h4>
                                </div>
                                <div class="modal-body">
                                    Are you sure, you want to delete person @person.getFirstName @person.getSurname?
                                </div>
                                <div class="modal-footer">
                                    <form action=@routes.DepartmentController.deletePersonFromDepartment(department.getId, person.getId)
                                            method="POST" enctype="text/plain">
                                        <button type="submit" class="btn btn-danger"> Delete </button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </th>
            </tr>

        }
        </tbody>

    </table>
}



